<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
            <div class="blogs content">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat egestas consequat.
                    Donec tempus mollis lectus et ultricies. Nunc vulputate congue dolor, ut bibendum turpis.
                    Integer rhoncus mi arcu, vitae tempor massa blandit sit amet. Proin sollicitudin purus ut nunc
                    porta,
                    maximus accumsan erat porttitor. Mauris molestie mauris vel urna tempus commodo. Morbi luctus risus
                    turpis,
                    eget ornare augue pulvinar a. Curabitur a lorem odio. Duis semper leo vitae magna tincidunt, ac
                    ultricies risus placerat.
                    Nam feugiat mattis tortor tincidunt elementum. Curabitur molestie varius ligula, at cursus odio.
                    Proin mollis odio in maximus dapibus.
                    Vivamus hendrerit mauris vel dapibus egestas. Quisque gravida ante sit amet felis volutpat suscipit.
                    Duis sit amet consequat magna.
                    Nam volutpat lorem nisi, pharetra maximus elit aliquet vitae.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid animi nisi perferendis </p>
                
            </div>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>